<header>
  <h1>Hamburger Restaurants</h1>
</header>

<div class="burgers">
<% @burgers.each do |burger| %>
  <div class="burger">
    <p>
      <%= link_to burger["name"], burger["url"] %>
    </p>
  </div>
<% end %>
</div>
